* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f9fafc;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.nav_logo {
    width: 100px;
}

.navbar_img {
    width: 100%;
}

.nav_btn {
    background-image: linear-gradient(to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%);
    border: none;
    color: #fff;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}

.nav_btn:hover {
    border: 2px solid #ff6767;
    cursor: pointer;
}

@media (min-width:768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }
}

@media (min-width:1024px) {
    .nav_logo {
        width: 150px;
    }

    .nav_btn {
        padding: 10px;
    }

}